header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, #051f20, #0b2b26);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.nameHeader {
  align-items: center;
  justify-content: center;
  width: 30%;
  letter-spacing: 1px;
}
